@model IEnumerable<NamTanUyen.Models.ProjectImage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.IsVideo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@item.ImageUrl" width="100" alt="" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVideo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectImageId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectImageId })
        </td>
    </tr>
}

</table>
