@model IEnumerable<NamTanUyen.Models.ProductGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductCategory.ProductCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductGroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategory.ProductCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductGroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            <img src="@item.ImageUrl" width="100" alt="" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductGroupId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductGroupId })
        </td>
    </tr>
}

</table>
