@model NamTanUyen.ViewModels.UpdatePassViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/cms/Content/global.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mt-4">
                <h1 class="text-primary text-center">Đổi Mật Khẩu</h1>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmChangePass" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.CurrentPass)
                        @Html.EditorFor(model => model.CurrentPass, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CurrentPass, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewsPass)
                        @Html.EditorFor(model => model.NewsPass, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NewsPass, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassConfirm)
                        @Html.EditorFor(model => model.NewPassConfirm, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NewPassConfirm, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn btn-default">Đổi Mật Khẩu</button>
                }

            </div>
        </div>
    </div> <!-- /container -->
    <div id="dlding"><span class="throbber"></span><p>Đang xử lý... Vui lòng chờ trong giây lát.</p></div>
    <script src="~/Scripts/jquery-2.0.0.min.js"></script>
    <script src="~/Areas/cms/Content/cms_theme/vendor/popper/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Areas/cms/Content/cms_theme/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <!-- Custom scripts for all pages-->
    <script src="~/Areas/cms/Content/cms_theme/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="~/Scripts/common.js"></script>
    <script src="~/Areas/cms/Scripts/global.js"></script>
    <script src="~/Areas/cms/Scripts/login.dev.js"></script>
</body>
</html>
